extends layout

block content
  h1= title
  h4 Nuevo registro

  div
  form(class="form-horizontal" action='/api/entries',method='post')
    div(class="form-group" data-role='fieldcontain')
      div(class="col-3" data-role='controlgroup')
        label(for='email') E-mail 
      div(class="col-9")
        input(id='email',type='text',value='',placeholder='@',name='email')
    div#passworddiv(class="form-group" data-role='fieldcontain')
      div(class="col-3" data-role='controlgroup')
        label(for='password') Contraseña 
      div(class="col-9")
        input(id='password',type='password',value='',placeholder='',name='password')
    div(class="form-group" id='hiddendiv',data-role='fieldcontain')
      div(class="col-3" data-role='controlgroup')
        label(for='hidden_password') Contraseña 
      div(class="col-9")
        input(id='hidden_password',type='text',value='',placeholder='',name='password2')
    div(class="form-group" data-role='fieldcontain')
      div(class="col-3" data-role='controlgroup')
        label(for='showpass') Mostrar contraseña
      div(class="col-9")
        input(id='showpass',type='checkbox')
    div(class="form-group" data-role='fieldcontain')   
      button(class="btn btn-primary input-group-btn" type='submit',value='upload',data-transition='fade', data-theme='c') Subir

  br
  hr
  br
  h4 Registros existentes 
  - each item in existingEntries
    p= item